spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  properties:
    hibernate:
      format_sql: true

logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
#    key-store: file:/Users/park/keystore.p12
#    key-store: file:/app/keystore.p12
    key-store-password: ${SSLPASSWORD}

    key-store-type: PKCS12
    key-alias: mycert