spring:
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      sentinel:
        master: mymaster
        nodes:
          - ${REDIS_S1}:26379
          - ${REDIS_S2}:26379
          - ${REDIS_S3}:26379

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.security: DEBUG
  execution-time:
    enabled: false

server:
  port: 8080

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health

jwt:
  access-token-ttl: ${ACCESS_TOKEN_TTL}
  refresh-token-ttl: ${REFRESH_TOKEN_TTL}

gmail:
  appkey: ${GMAIL_APPKEY}

